/*
Orange: e84e0f
Dunkelgrau: 6e685d
Hellgrau: e2e1da

Text ist schwarz, Footer dunkelgrau, die Kästen Dunkel- auf Hellgrau. Linie ist Dunkelgrau, 1px. Die Farben in den beiden Seitenansichten entsprechen nicht zwangsläufig den finalen, richtigen Werten (s.o.).
*/

/* Typographie */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}


/* Layout generell */
body {
    background-color: #dfded9;
    background-image: url("/img/accurate-bg-kachel.png");
}

.container {
    background-color: #ffffff;
    background-image: url("/img/accurate-menue-grafik.png");
    background-repeat: no-repeat;
    background-position: 75% 0%;
    margin-bottom: 2em;
}


#logo {
    background-image: url("/img/accurate-logo.png");
    width: 200px;
    height: 80px;
    margin: 2em 0 0 3em;
}
#logo h1,
#logo h2 {
    display: none;
}


.nav {
    text-align: center;
    margin: 2em 6% 1em 30%;
}
.nav ul {
}
.nav li {
    display: inline;
}
.nav li a {
    color: #e84e0f;
}
.nav li a:hover {
    text-decoration: underline;
}
.nav li a:visited {
    /* color: gray; */
}


#footer {
    background-color: #6e685d;
}
#footer,
#footer strong,
#footer a {
    color: white;
}
#footer .column,
#footer .columns {
    margin: 1em 0 1em 0;
}
/* work around framework, because that's what it's for. */
@media only screen and (min-width: 768px) {
    #footer {
        padding-left: 20px;
    }
}

