<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{meta.pagetitle}} | {{meta.siteTitle}}</title>
    <meta name="description" content="{{meta.description}}" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="publisher" content="accu:rate" />
	<meta name="creator" content="{{meta.creator}}" />
	<meta http-equiv="content-language" content="{{meta.lang}}" />
	<meta name="DC.Language" content="{{meta.lang}}" />


    <!-- <link rel="stylesheet" type="text/css" media="all" href="/lib/normalize.css/normalize.css" /> -->
	<link rel="stylesheet" type="text/css" href="/lib/skeleton/stylesheets/base.css" />
	<link rel="stylesheet" type="text/css" href="/lib/skeleton/stylesheets/layout.css" />
	<link rel="stylesheet" type="text/css" href="/lib/skeleton/stylesheets/skeleton.css" />

    <!-- TODO: serve from our own web server -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" type="text/css" href="/template/accu-rate.css" />
</head>

<body>
	<div class="container">

        <div class="row sixteen columns">

            <div class="four columns alpha">
                <img id="logo" src="/img/accurate-logo.png" alt="accu:rate Institute for Crowd Simulation" />
            </div>

            <div class="twelve columns omega">
                <div class="nav">
                    <ul>
                        <li><a href="#">startseite</a> :</li>
                        <li><a href="#">unsere methode</a> :</li>
                        <li><a href="#">das team</a> :</li>
                        <li><a href="#">stellen</a> :</li>
                        <li><a href="#">kontakt</a></li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="row sixteen columns clearfix">
            {{{content.main}}}
        </div>


        <div id="footer" class="sixteen columns alpha omega">
            <div class="three columns alpha"></div>
            <div class="four columns">
                <strong>
                    accu:rate<br />
                    Institute for crowd simulation
                </strong>
                c/o Chair of Computational Modeling and Simulation
            </div>
            <div class="four columns">
                Arcisstra&szlig;e 21<br />
                D-80290 Munich<br />
                +49 (0)89&mdash;21553869<br />
                <a href="mailto:">info@accu-rate.de</a>
            </div>
            <div class="four columns">
                UstID-Nr. DExxxxxxxxxxxxx<br />
                Gerichtsstand<br />
                Persönlicher Verantwortlicher<br />
                &copy; 2014<br />
            </div>
            <div class="one column omega"></div>
        </div>

	</div>
</body>

</html>

