/*
CSS for accu-rate.de
(c) Florian Sesser for accu:rate 2014
Design: Christian Carl @ cc.design. http://www.cchris.de/

Orange: e84e0f
Dunkelgrau: 6e685d
Hellgrau: e2e1da

Text ist schwarz, Footer dunkelgrau, die Kästen Dunkel- auf Hellgrau.
Linie ist Dunkelgrau, 1px.
*/

/* Typographie */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
body {
    font-size: 16px;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; line-height: 1.25em; margin: 1em 0; }
h3 { font-size: 1.3em; line-height: 1.25em; margin: 1em 0; }
h4 { font-size: 1.3em; }

#contentmain ul {
    list-style: square outside;
    padding-left: 2em;
}

#contentmain p,
#contentmain li {
    /* Automatische Silbentrennung (CSS3) */
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}


/* Layout generell */
body {
    background-color: #dfded9;
    background-image: url("/img/accurate-bg-kachel.png");
}
@media all and (min-width: 768px) {
    body {
        padding-bottom: 2em;
    }
}

.container {
    background-color: #ffffff;
    background-image: url("/img/accurate-menue-grafik.png");
    background-repeat: no-repeat;
    background-position: 75% 0%;
}

@media all and (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
    #footer {
        padding: 0 10px;
        margin-left: -10px;
    }
}


#logo {
    text-decoration: none;
}
#logo figure {
    margin: 2em 0 1em 3em;
}
#logo span {
    display: none;
}


.nav {
    text-align: center;
}
.nav ul {
}
.nav li {
    display: inline;
}
.nav li a {
    color: #e84e0f;
    /* To help google with creating the sitelinks: */
    text-transform: lowercase;
}
.nav li a:hover {
    text-decoration: underline;
}
.nav li a:visited {
    color: #6e685d;
}
@media all and (min-width: 768px) {
    .nav {
        margin: 3em 6% 1em 30%;
    }
}
@media print {
    .nav {
        display: none;
    }
}


#footer {
    margin-top: 1em;
    background-color: #6e685d;
    font-size: 0.9em;
}
#footer,
#footer strong,
#footer a {
    color: white;
}
#footer .column,
#footer .columns {
    margin-top: 1em;
}
/* work around framework, because that's what it's for. */
@media all and (min-width: 768px) {
    #footer {
        padding-left: 20px;
        padding-bottom: 1em;
    }
}
@media print {
    #footer {
        background-color: transparent;
        color: #6e685d;
    }
    #footer,
    #footer strong,
    #footer a {
        color: #6e685d;
    }
}


/* Content */

img,video,iframe {
    max-width: 100%;
}

img.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px), print {
    img.float-left {
        float: left;
        width: 42%;
        margin: 0 1em 0.4em 0;
        padding: 0.3em 0 0 0.1em;
    }
    img.float-right {
        float: right;
        margin: 0 0 0.4em 1em;
        padding: 0.3em 0.1em 0 0;
    }
}

@media screen {
    .fancyheader {
        margin: -4em 0 2em;
        font-size: 1.5em;
        line-height: 1.3em;
    }
    .fancyheader em {
        font-style: normal;
        font-weight: normal;
        /* max-width: 450px; */
    }
    .fancyheader em {
        color: white;
        background: #e84e0f;
        box-shadow: 10px 0 0 #e84e0f, -10px 0 0 #e84e0f;

         /* Fix for recent Firefoxes (v32, at least) */
        -ms-box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
    }
    .fancyheader-img {
        border-top: 1px solid #6e685d;
        padding-top: 3px;
        min-height: 6em; /* Correct negative margin for UAs that don't d/l the img */
    }
}
@media all and (min-width: 768px) {
    .fancyheader {
        margin: -3.6em 0 1.2em;
        font-size: 2.5em;
    }
    .fancyheader-img {
        min-height: 9em; /* Correct negative margin for UAs that don't d/l the img */
    }

}
@media print {
    .fancyheader {
        margin: -1em 0 1.2em;
    }
    .fancyheader-img {
        display: none;
    }
    .fancyheader em {
        font-style: normal;
        font-weight: normal;
    }
}



h3.greybox {
    background-color: #e2e1da;
    font-size: 1.3em;
    padding: 1em;
    line-height: 1em;
    margin-bottom: 0.5em !important;
}
@media all and (min-width: 768px) {
    h3.greybox {
        font-size: 1.5em;
    }
}


.startbox,
.leistungsbox {
    margin-top: 1em;
}
.startbox {
    font-size: 0.9em;
}
.startbox.border,
.leistungsbox.border {
    border-top: 1px solid #6e685d;
    padding-top: 0.5em;
}
abbr {
    border-bottom: 1px dotted #6e685d;
}


.startbox h4 {
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: bold;
}

.leistungsbox h4 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}
.leistungsbox h4 em {
    color: #e84e0f;
    font-style: normal;
}
#contentmain .leistungsbox ul {
    padding-left: 1.1em;
}

img.mugshot  {
    float: left;
    margin: 0 1em 0.4em 0;
    padding: 0.3em 0 0 0.1em;
}

/* vcards */
.vcard span,
.vcard abbr {
    display: block;
}
.vcard span.email,
.adr span.postal-code,
.adr span.locality {
    display: inline;
}


.associates-logos {
    text-align: center;
}
.associates-logos img {
    vertical-align: middle;
}

/* Embed youtube videos responsively,
 * thanks http://embedresponsively.com/ */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Skeleton has no styling for the 'date' form field,
   copy it from Skeleton's base.css */
input[type="date"] {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
}


/* Hide Google translate widget */
#google_translate_element {
    display: none;
}
@media print {
    .skiptranslate {
        display: none;
    }
}

