<!DOCTYPE html>
<html lang="{{meta.lang}}">
<head>
    <title>{{meta.pagetitle}} | {{meta.siteTitle}}</title>
    <meta name="DC.Title" content="{{meta.pagetitle}} | {{meta.siteTitle}}" />

    <meta name="description" content="{{meta.description}}" />
    <meta name="Keywords" content="{{meta.keywords}}" />
    <link rel="canonical" href="http://www.accu-rate.de/{{{source.dirlimb}}}">

    <meta name="publisher" content="{{meta.publisher}}" />
    <meta name="DC.Publisher" content="{{meta.publisher}}" />
    <meta name="creator" content="{{meta.creator}}" />
    <meta name="DC.Rights" content="{{meta.rights}}" />

    <meta name="DC.Language" content="{{meta.lang}}" />
    <meta http-equiv="content-language" content="{{meta.lang}}" />

    <meta name="city" content="Munich" />
    <meta name="zipcode" content="80331" />
    <meta name="geo.placename" content="Munich" />
    <meta name="geo.region" content="DE-BY" />
    <meta name="geo.position" content="48.1354263;11.5744017" />
    <meta name="ICBM" content="48.1354263, 11.5744017" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="google-translate-customization" content="8adb9eee40db37ea-118fd9e473434363-g773d2845c22477b5-10" />

    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}/lib/skeleton/stylesheets/min.css" />
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}/lib/fonts/webfontkit-20140112-173602/stylesheet_custom.css" />
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}/template/accu-rate.css?{{meta.cssversion}}" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
    <div class="container">

        <div class="row sixteen columns">

            <div class="four columns alpha">
                <a id="logo" href="{{meta.baseurl}}/">
                    <figure>
                        <svg width="200" height="80">
                            <image xlink:href="{{meta.baseurl}}/img/accurate-logo.svg" src="{{meta.baseurl}}/img/accurate-logo.png" width="200" height="80" />
                        </svg>
                        <figcaption><span>accu:rate Institute for Crowd Simulation</span></figcaption>
                    </figure>
                </a>
            </div>

            <div class="twelve columns omega">
                <div class="nav">
                    {{{content.navigation}}}
                </div>
                <div class="lang">
                    <div class="sprachwahl">
                    {{#meta.lang}}
                            <a title="{{text}}" href="accu-rate.de/{{{url}}}" class="cls"><img src="img/{{icon}}" alt="{{text}}" /></a>
                    {{/meta.lang}} 
                    </div>
                </div>
            </div>

        </div>


        <div id="contentmain" class="row twelve columns offset-by-two clearfix">
            {{{content.main}}}
        </div>


        <div id="footer" class="sixteen columns alpha omega">
            {{{content.footer}}}
        </div>

    </div>

    <!--[if lt IE 9]>
        <script src="{{meta.baseurl}}/lib/css3-mediaqueries-for-ie8-min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{meta.baseurl}}/template/accu-rate.js?{{meta.jsversion}}"></script>

    <!-- Google Translate integration -->
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        // Don't init the google translate widget on mobiles, it's too heavy
        if (!userSpeaksGerman() && !isMobileDevice()) {
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'de', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
            }
            loadScript("//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit");
        }
    </script>
</body>

</html>

