DirectoryIndex html/index.html

AddCharset UTF-8 .html

RewriteEngine On
# RewriteCond %{REQUEST_URI} !^/google [NC]
RewriteRule ^([^\.]+)$ html/$1.html [NC,L]
RewriteRule ^(.*)_ver(.*).css$ $1.css [NC,L]

# i18n for start page (/)
RewriteCond %{HTTP:Accept-Language} ^de [NC]
RewriteRule ^$ /start [L,R=302]
# en is our default:
#RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^$ /en:home [L,R=302]

ErrorDocument 404 /html/404error.html

# Utilize browser cache.
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/svg+xml "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
</IfModule>

